{% extends 'convergine-cookiebuddy/_layouts/_settings' %}
{% import '_includes/forms' as forms %}

{% set title = 'Cookie Buddy' %}
{% set selectedSubnavItem = 'settings' %}

{% set fullPageForm = true %}

{% set tabs = {
    'tab01-popup': { label: 'Popup'|t('convergine-cookiebuddy'), url: '#tab01-popup' },
    'tab02-preferences': { label: 'Preferences'|t('convergine-cookiebuddy'), url: '#tab02-preferences' },
} %}

{% set selectedTab = craft.app.request.getParam('tab', 'tab01-popup') %}

 {% block submitButton %}
         {% set baseUrl = craft.app.request.url %}
     <div class="flex" style="margin-right: 20px">
         <label style="font-weight: bold">{{ 'Site'|t('app') }}</label>
         {{ forms.select({
             label: "Site",
             id: "site",
             name: "site",
             value: currentSiteHandle,
             options: siteOptions,
             inputAttributes: {onchange:"window.location.href = '" ~ baseUrl|split('?')[0] ~ "?site=' + this.value;"}
         }) }}
     </div>

     <div>
         <button type="submit" class="btn submit">{{ submitButtonLabel ?? 'Save'|t('app') }}</button>
     </div>

 {% endblock %}

{% block content %}
    {{ actionInput('plugins/save-plugin-settings') }}
    {{ hiddenInput('pluginHandle', 'convergine-cookiebuddy') }}

    <div id="fields">
        <div id="tab01-popup" class="flex-fields" data-id="tab01-popup" role="tabpanel" aria-labelledby="tab-tab01-popup">
            {% namespace customMessagesNamespace %}
                {{ forms.textField({
                    label: "Popup Title"|t('convergine-cookiebuddy') ,
                    name: 'title',
                    value: settings.getCustomMessage('title',currentSiteHandle),
                    translatable:true
                }) }}
                {{ forms.textareaField({
                    label: "Popup Description"|t('convergine-cookiebuddy'),
                    name: 'description',
                    value: settings.getCustomMessage('description',currentSiteHandle),
                    translatable:true
                }) }}
                {{ forms.textareaField({
                    label: "Footer"|t('convergine-cookiebuddy'),
                    name: 'footer',
                    value: settings.getCustomMessage('footer',currentSiteHandle),
                    translatable:true
                }) }}
            {% endnamespace %}
            {% namespace 'settings' %}
                <hr>
                {{ forms.selectField({
                    label: "Layout"|t('convergine-cookiebuddy'),
                    name: 'consentLayout',
                    value: settings.consentLayout,
                    options: {
                        "box": "Box",
                        "box wide": "Box (Wide)",
                        "box inline": "Box (Inline)",
                        "cloud": "Cloud",
                        "cloud inline": "Cloud (Inline)",
                        "bar": "Bar",
                        "bar inline": "Bar (Inline)",
                    }
                }) }}
                {{ forms.selectField({
                    label: "Position"|t('convergine-cookiebuddy'),
                    name: 'consentPosition',
                    value: settings.consentPosition,
                    options: {
                        "top": "Top",
                        "bottom": "Bottom",
                        "middle": "Middle",
                        "top left": "Top Left",
                        "top center": "Top Center",
                        "top right": "Top Right",
                        "middle left": "Middle Left",
                        "middle center": "Middle Center",
                        "middle right": "Middle Right",
                        "bottom left": "Bottom Left",
                        "bottom center": "Bottom Center",
                        "bottom right": "Bottom Right",
                    }
                }) }}
                {{ forms.lightswitchField({
                    label: "Equal Weight Buttons"|t('convergine-cookiebuddy'),
                    name: 'consentEqualWeightButtons',
                    on: settings.consentEqualWeightButtons,
                }) }}
                {{ forms.lightswitchField({
                    label: "Flip Buttons"|t('convergine-cookiebuddy'),
                    name: 'consentFlipButtons',
                    on: settings.consentFlipButtons,
                }) }}
            {% endnamespace %}
        </div>
        <div id="tab02-preferences" class="flex-fields hidden" data-id="tab02-preferences" role="tabpanel" aria-labelledby="tab-tab02-preferences">
            {% namespace customMessagesNamespace %}

                {{ forms.textField({
                    label: "Internal Title"|t('convergine-cookiebuddy'),
                    name: 'internalTitle',
                    value: settings.getCustomMessage('internalTitle',currentSiteHandle),
                    translatable:true
                }) }}
                {{ forms.textareaField({
                    label: "Internal Description"|t('convergine-cookiebuddy'),
                    name: 'internalDescription',
                    value: settings.getCustomMessage('internalDescription',currentSiteHandle),
                    translatable:true
                }) }}
                <hr>
                {{ forms.textareaField({
                    label: "Required Cookies Description"|t('convergine-cookiebuddy'),
                    name: 'requiredDescription',
                    value: settings.getCustomMessage('requiredDescription',currentSiteHandle),
                    translatable:true
                }) }}
                {{ forms.textareaField({
                    label: "Performance Cookies Description"|t('convergine-cookiebuddy'),
                    name: 'performanceDescription',
                    value: settings.getCustomMessage('performanceDescription',currentSiteHandle),
                    translatable:true
                }) }}
                {{ forms.textareaField({
                    label: "Targeting Cookies Description"|t('convergine-cookiebuddy'),
                    name: 'targetingDescription',
                    value: settings.getCustomMessage('targetingDescription',currentSiteHandle),
                    translatable:true
                }) }}
                <hr>
                {{ forms.textField({
                    label: "More Title"|t('convergine-cookiebuddy'),
                    name: 'moreTitle',
                    value: settings.getCustomMessage('moreTitle',currentSiteHandle),
                    translatable:true
                }) }}
                {{ forms.textareaField({
                    label: "More Description"|t('convergine-cookiebuddy'),
                    name: 'moreDescription',
                    value: settings.getCustomMessage('moreDescription',currentSiteHandle),
                    translatable:true
                }) }}
            {% endnamespace %}
            {% namespace 'settings' %}
                <hr>
                {{ forms.selectField({
                    label: "Layout"|t('convergine-cookiebuddy'),
                    name: 'preferencesLayout',
                    value: settings.preferencesLayout,
                    options: {
                        "box": "Box",
                        "bar": "Bar",
                        "bar wide": "Bar (Wide)",
                    }
                }) }}
                {{ forms.selectField({
                    label: "Position"|t('convergine-cookiebuddy'),
                    name: 'preferencesPosition',
                    value: settings.preferencesPosition,
                    options: {
                        "left": "Left",
                        "right": "Right",
                    }
                }) }}
                {{ forms.lightswitchField({
                    label: "Equal Weight Buttons"|t('convergine-cookiebuddy'),
                    name: 'preferencesEqualWeightButtons',
                    on: settings.preferencesEqualWeightButtons,
                }) }}
                {{ forms.lightswitchField({
                    label: "Flip Buttons"|t('convergine-cookiebuddy'),
                    name: 'preferencesFlipButtons',
                    on: settings.preferencesFlipButtons,
                }) }}
            {% endnamespace %}
        </div>
    </div>
{% endblock %}
